<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peazone.core.common.dao.ProvinceCityDao">
	<resultMap id="BaseResultMap" type="com.peazone.core.common.entity.ProvinceCity">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="is_promise" property="isPromise" jdbcType="INTEGER" />
		<result column="area_code" property="areaCode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, pid,info,is_promise,area_code
	</sql>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from province_city
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from province_city
		where id
		= #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.peazone.core.common.entity.ProvinceCity">
		insert into province_city
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="info != null">
				info,
			</if>
			<if test="isPromise != null">
				is_promise,
			</if>
			<if test="areaCode != null">
                area_code,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=VARCHAR},
			</if>
			<if test="info != null">
				#{info,jdbcType=VARCHAR},
			</if>
			<if test="isPromise != null">
				#{isPromise,jdbcType=INTEGER},
			</if>
			<if test="areaCode != null">
			     #{areaCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.peazone.core.common.entity.ProvinceCity">
		update province_city
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
			<if test="info != null">
				info = #{info,jdbcType=VARCHAR},
			</if>
			<if test="isPromise != null">
				is_promise = #{isPromise,jdbcType=INTEGER},
			</if>
			<if test="areaCode != null">
                 area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="findCityByProvince" resultMap="BaseResultMap" parameterType="map">
    	select
    	<include refid="Base_Column_List" />
    	from province_city
	    <where>
	        <if test="provinceCode != null">
	            pid = #{provinceCode,jdbcType=VARCHAR}
	        </if>
	    </where>
	</select>

    <select id="findAllProvince" resultMap="BaseResultMap"
            parameterType="map">
        select
        <include refid="Base_Column_List" />
        from province_city
        <where>
            SUBSTRING(id,4,4)='0000'
        </where>
    </select>
	
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from province_city
	</select>

	<select id="findByOldCityCode" resultMap="BaseResultMap"
		parameterType="string">
		select
		<include refid="Base_Column_List" />
		from province_city
        where old_city_code = #{oldCityCode,jdbcType=VARCHAR}
	</select>
    <select id="findCityNoByProvinceCityCode" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from province_city
        where id = #{cityCode,jdbcType=VARCHAR}
        and pid = #{provinceCode,jdbcType=VARCHAR}
	</select>
</mapper>