<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ctyun.core.common.dao.ChinaRegionsDictDao">

	<resultMap id="BaseResultMap" type="cn.ctyun.core.common.entity.ChinaRegionsDict">
            <result property="id" column="id"/>
            <result property="code" column="code"/>
            <result property="parentCode" column="parent_code"/>
            <result property="name" column="name"/>
            <result property="alias" column="alias"/>
            <result property="pinyin" column="pinyin"/>
            <result property="abbr" column="abbr"/>
            <result property="areaCode" column="area_code"/>
            <result property="zipcode" column="zipcode"/>
            <result property="remark" column="remark"/>
            <result property="createDate" column="create_date"/>
            <result property="updateDate" column="update_date"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
            id,code,parent_code,name,alias,pinyin,abbr,area_code,zipcode,remark,create_date,update_date
	</sql>
	
	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from china_regions_dict
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from
		china_regions_dict
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert"
		parameterType="cn.ctyun.core.common.entity.ChinaRegionsDict">
		insert into china_regions_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="code != null and code != ''">
				code,
			</if>
			<if test="parentCode != null and parentCode != ''">
				parent_code,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="alias != null and alias != ''">
				alias,
			</if>
			<if test="pinyin != null and pinyin != ''">
				pinyin,
			</if>
			<if test="abbr != null and abbr != ''">
				abbr,
			</if>
			<if test="areaCode != null and areaCode != ''">
				area_code,
			</if>
			<if test="zipcode != null and zipcode != ''">
				zipcode,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="createDate != null and createDate != ''">
				create_date,
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=VARCHAR},
			<if test="code != null and code != ''">
				#{code,jdbcType=INTEGER},
			</if>
			<if test="parentCode != null and parentCode != ''">
				#{parentCode,jdbcType=INTEGER},
			</if>
			<if test="name != null and name != ''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="alias != null and alias != ''">
				#{alias,jdbcType=VARCHAR},
			</if>
			<if test="pinyin != null and pinyin != ''">
				#{pinyin,jdbcType=VARCHAR},
			</if>
			<if test="abbr != null and abbr != ''">
				#{abbr,jdbcType=VARCHAR},
			</if>
			<if test="areaCode != null and areaCode != ''">
				#{areaCode,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null and zipcode != ''">
				#{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null and createDate != ''">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null and updateDate != ''">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<select id="getByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from china_regions_dict
		where code = #{code,jdbcType=INTEGER}
	</select>
	
	<select id="getDictList" parameterType="cn.ctyun.core.common.entity.ChinaRegionsDict" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from china_regions_dict
		<where>
			<if test="code != null and code != ''">
				AND code = #{code,jdbcType=INTEGER}
			</if>
			<if test="parentCode != null and code != ''">
				AND parent_code = #{parentCode,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''">
				AND name like CONCAT('%','${name}','%')
			</if>
			<if test="alias != null and alias != ''">
				AND alias like CONCAT('%','${alias}','%')
			</if>
			<if test="pinyin != null and pinyin != ''">
				AND pinyin like CONCAT('%','${pinyin}','%')
			</if>
			<if test="abbr != null and abbr != ''">
				AND abbr like CONCAT('%','${abbr}','%')
			</if>
		</where>
		order by code
	</select>

</mapper>

